<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PTSLibrary.Properties.Settings.PTSConnectionstring"
            connectionString="Data Source=localhost;Initial Catalog=PTSdb;Integrated Security=True" />
	</connectionStrings>
</configuration>